*{
  box-sizing: border-box;
}

body{
  margin: 0; 
  font-family: 'Montserrat', sans-serif;
  font-size : 1.5rem;
  background-color: black;
  color: #ffff;
}

.logo_name{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  
}



    .header{
        margin-top: -60px;
        position: fixed;
        /* top: 0; */
        /* left: 0; */
        width: 100%;
        height: 60px;
        /* padding: 30PX 8%; */
/*        background-color:rgb(255, 143, 51);*/
        /* background-color: #2a1b9e; */
        /* background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); */
        /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
        background-image: linear-gradient(to right, #5a3f37, #2c7744);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index:99;
    }

    .LOGO{
        font-size: 25PX;
        color:rgb(244, 244, 244); 
        text-decoration: none;  
        font-weight: 600;
        margin-left: 60px;

        /* opacity: 0;
        animation: slideright 1s ease forwards; */
    }

    .nav a {
        display: inline-block;
        font-size: 18PX;
/*       color: rgb(60, 0, 255);*/
        color: whitesmoke ;
        cursor: pointer;
        font-weight: 500;
        margin: 0 20px;
        text-decoration: none;

         /*opacity: 1;
        animation: slidetop .5s ease forwards;
        animation-delay: calc(.2s * var(--i)); */

    }
    /* .nav a:visited {
    color: black; */
/*    background-color: transparent;*/
/*        text-decoration: none;*/

    .nav a:hover,.nav a.active{
        color: rgb(244, 244, 247);
    }

    .social-media{
        margin-right: 20px;
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: space-between
    
    
    }

    .social-media a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: 2px solid transparent;
        text-decoration: none;
        transform: rotate(45deg);
        transition: .5s;
        /* opacity: 0;
        animation: slideleft .5s ease forwards;
        animation-delay: calc(.2s * var(--i)); */
    }

    .social-media a:hover {
        border-color:  rgb(241, 241, 241);
    }

   


h1 {
   font-weight: 700;
   color: #ffff;
   font-size: 1.75rem;
}

h2 {
   font-weight: 700;
   color: #000;
   font-size: 1.75rem;
}

.intro {
  font-size: 1.15rem;
  margin-bottom: 2.5em;
}

span {
   color: #6c5df1;
}

.black {
  font-weight: 700;
  color: #000;
}



.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}



.header {
  background: #000;
}

.header-content{
  display: flex;
  flex-direction: row;
  grid-column: 2/-2;
}

.logo {
  background: #6c5df1;
  color: #000;
  font-weight: 700;
  padding: 1em .5em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.navigation {
  position: fixed;
  background: #000;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 3rem;
}

.nav-link {
  text-decoration: none;
  color: #e6e3fc;
}

.nav-link:hover,
.nav-link:focus,
.close-nav:hover,
.close-nav:focus,
.open-nav:hover,
.open-nav:focus {
  color: #fff;
  cursor: pointer;
}

.open-nav {
  border: 0;
  background: 0;
  color: #d6d2d2;
  padding: .5em;
  margin-left: auto;
  font-size: 1em;
}

.navigation-open {
  transform: translateX(-100%);
}

.close-nav {
    border: 0;
    background: 0;
    color: #beb8b0;
    font-weight: 700;
    font-size: 3rem;
    padding: .5em;
    position: absolute;
}

.current {
  border-bottom: 1px solid #6c5df1;
}

main {
  background-color: #fff;
  color: #000;
  grid-column: 2 /-2;
}

  .head {
  grid-column: 2/-2;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.page-title {
  color: #000;
  font-size: 2.5rem;
  justify-self: center;
}

.main-image {
  grid-column: 2 / -2;
  object-fit: cover;
  max-width: 100%;
  display: block;
  margin-left: -25px;
  margin-bottom: -80px;
  
}

.main-text {
  grid-column: 2 / -2;
  margin-top: 3em;
  margin-bottom: 3em;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin-top: 1em;
  background: #6c5df1;
  margin-left: auto;
  margin-right: auto;
}

.sub {
  margin-top: 3em;
}


.footer > * {
    grid-column: 2 / -2;
}

.footer {
   background: #ebebeb;  
   color: #000;
}

.social {
  order: -1;
  font-size: 1.75rem;
  padding-top: 3em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  color: #000;
}
.icon:hover,
.icon:focus {
  cursor: mouse;
  color: #6c5df1;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.end {
  text-align: center;
  margin-bottom: 0;
}
.copyright {
  font-size: 1.1rem;
  padding-top: 1em;
  text-align: center;
  font-weight: 700;
}

.footer-text,
.copyright {
  opacity: .4;
  }
 

  @media (min-width: 600px) {
      .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(20px, 320px)) minmax(1em, 1fr);
    }
    
    .open-nav,
    .close-nav {
      display: none;
    }
    
    .navigation {
      position: initial;
     
    }
    
    .nav-list {
      flex-direction: row;
      justify-content: flex-start;
    }
    
    .nav-link {
      margin-left: 1em;
      font-size: 1.7rem;
    }
    
    .logo {
      padding: .5em 1em;
      text-align: center;
    }
    
    .head {
      grid-column: 3 / -3;
    }
    
.page-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #6c5df1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
    
    .main-image {
      grid-column: 2;
      margin-top: -40px;
      margin-left: -40px;
     
      
        
        
        transition: transform .2s; /* Animation */
        
    }
      
      
      .main-image:hover {
        transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
     
      
  
    }
    
    .main-text {
      grid-column: 3 / span 2;
      margin-top: 0;
    }
    
    .section-title::after {
  margin-left: 0;
}
    
    
    
    .footer {
      padding-top: 2em;
      padding-bottom: 2em;
    }
    
    .footer-text {
      grid-column: 2 / span 2;
    }
    
    .social {
      grid-column: span1;
    }
    
    .icon {
      margin: .5em;
    }
    
    .footer-text {
      width: 50vw;
      margin-left: 0;
      order: -1;
    }
    
    .end,
    .copyright {
      text-align: start;
      font-weight: 500;
    }
  

@media(min-width: 700px) {
  .page-title::after {
    content: '';
    display: block;
    width: 160px;
    height: 5px;
    background: #6c5df1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
}